
.idea/
*.iml
out/
shelf/
.idea/workspace.xml
target/
reports/
extent-report/
screenshots/
logs/
kafka-automation/.idea/
kafka-automation/.vscode/
kafka-automation/.venv/
kafka-automation/runs/
.vscode
__pycache__/
*.egg-info/
.awscreds
kafka-automation/.awscreds
